{% extends 'base.html.twig' %}

{% block title %}Formation
{% endblock %}

{% block body %}

	<section>
		<h2>{{ formation.nom }}</h2>
		<p>{{ formation.description }}</p>
		<p>{{ formation.lieux }}
        <p> Catégories :
                {% for curCategorie in formation.categorie %}
                    {{  curCategorie }}
                {% endfor %}
		</p>
	</section>

{% endblock %}
